.mainContainer {
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: crimson;
  padding: 10px;
  border-radius: 5px;
}

.BiggerHeader {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: powderblue;
  width: 100%;
  
}

.Left {
  background-color: limegreen;  
  width: 70%;
}

.Header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  background-color: blue;

  border-radius: 5px;
}

.Timer {
  width: 30%;
  height: 20%;
  border-radius: 5px;
}

.ButtonSpacer {
  height: 1rem;
}

.DivSpacer {
  height: 1rem;
}

.Bio {
  width: 100%;
  height: 400px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 5px;
}

.StartStop {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  background-color: limegreen;
  border-radius: 5px;
}

.Start {
  background-color: green;
  width: 100%;
  height: 50%;
  border-radius: 5px;
  justify-content: center;
}

.Stop {
  background-color: aquamarine;
  width: 100%;
  height: 50%;
  border-radius: 5px;
}


.leaderboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;

}

#leaderboardHeader {
  font-size: 2rem;
}

#quote {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}

#quoteHeader {
    padding: 1.5rem;
    text-align: center;
}

.profile {
  padding: 5px;
  font-size: 2rem;
  border: 2px solid black;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  align-self: flex-start;
}

.points {
  align-self: flex-end;
  text-align: right;
}
